---
layout: default
title: Example42 Puppet Works
subtitle: An Open Source Set of Reusable Puppet Modules

---

      <div class="row">
        <div class="col-md-12">
         {% include jumbotron.html %}
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <h4>Latest Blog posts</h4>
          {% include post_summary.html %}
        </div>
        <div class="col-md-4">
          <h4>GitHub Activity</h4>
          {% include github_activity.html %}
        </div>
        <div class="col-md-4">
          <h4>Twitter Activity</h4>
          {% include twitter_activity.html %}
        </div>
      </div>