         
          <hr class="dashed" />
            
          <div class="footer-copyright">This site is based on <a href="http://bootflat.github.io" target=_"blank">Bootflat</a> by <a href="http://www.flathemes.com" target="_blank">Flathemes</a>. Hosted on <a href="https://pages.github.com" target="_blank">GitHub Pages</a>. <a href="//www.iubenda.com/privacy-policy/807693" class="iubenda-white no-brand iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script></div>

          <hr class="dashed" />
