        <div class="row">
          <div class="col-md-12">
            <div class="footer">
              <div class="container">
                <div class="clearfix">
                  <div class="footer-logo"><a href="#"><img src="/img/logo42.png" />Example42</a></div>
                 {% include github.html %}

                  <dl class="footer-nav">
                    <dt class="nav-title">PROJECTS</dt>
                    <dd class="nav-item"><a href="https://github.com/example42/puppet-modules">Puppet Modules</a></dd>
                    <dd class="nav-item"><a href="https://github.com/example42/Example42-tutorials">Puppet Tutorials</a></dd>
                    <dd class="nav-item"><a href="https://github.com/example42/puppi">Puppi</a></dd>
                    <dd class="nav-item"><a href="https://github.com/example42/puppet-playground">Puppet Playground</a></dd>
                    <dd class="nav-item"><a href="https://github.com/example42/puppet-architectures">Puppet Architectures</a></dd>
                  </dl>
                  <dl class="footer-nav">
                    <dt class="nav-title">SHARE</dt>
                    <dd class="nav-item"><a href="https://groups.google.com/forum/#!forum/example42-puppet-modules" target="_blank" rel="external nofollow">Google group</a></dd>
                    <dd class="nav-item"><a href="https://forge.puppetlabs.com/example42">Puppet Forge</a></dd>
                    <dd class="nav-item"><a href="https://github.com/example42">GitHub</a></dd>
                  </dl>
                  <dl class="footer-nav">
                    <dt class="nav-title">CONTACT</dt>
                    <dd class="nav-item"><a href="/blog/">Blog</a></dd>
                    <dd class="nav-item"><a href="/who/">Who</a></dd>
                    <dd class="nav-item"><a href="/contact/">Contact</a></dd>
                  </dl>
                </div>
                <div class="footer-copyright text-center">Site based on <a href="http://bootflat.github.io" target=_"blank">Bootflat</a> by <a href="http://www.flathemes.com" target="_blank">Flathemes</a>. Hosted on <a href="https://pages.github.com" target="_blank">GitHub Pages</a>.</div>
              </div>
            </div>
          </div>
        </div>