<footer>
  <div class="row">
    <div class="large-4 columns">
      <ul>
      <li><a href="/documentation/overview/what-is-capistrano/">About Capistrano</a></li>
      <li><a href="https://github.com/capistrano/capistrano/blob/master/CONTRIBUTING.md">Contributing</a></li>
      <li><a href="https://rubygems.org/gems/capistrano/versions">Releases</a></li>
      </ul>
    </div>

    <div class="large-4 columns">
      <ul>
        <li><a href="http://stackoverflow.com/questions/tagged/capistrano">StackOverflow</a></li>
        <li><a href="https://groups.google.com/forum/#!forum/capistrano">Mailing List</a></li>
      </ul>
    </div>

    <div class="large-4 columns">
      <ul class="social icons">
        <li><a href="//twitter.com/capistranorb"><i class="foundicon-twitter"></i></a></li>
        <li><a href="//github.com/capistrano"><i class="foundicon-github"></i></a></li>
      </ul>
    </div>
  </div>
</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-3642145-4', 'example42.com');
  ga('send', 'pageview');

</script>