              <ul style="list-style-type: none; align: left">
                <li>
                  <iframe src="http://ghbtns.com/github-btn.html?user=example42&amp;repo=puppet-modules&amp;type=watch&amp;count=true&size=small" title="Puppet Modules" frameborder="0" scrolling="0" margin="0" lenght="150" height="25"></iframe>
                </li>

                <li>
                  <iframe src="http://ghbtns.com/github-btn.html?user=example42&amp;repo=Example42-tutorials&amp;type=watch&amp;count=true&size=small" title="Puppet Tutorials" frameborder="0" scrolling="0" lenght="150" height="25"></iframe>
                </li>

                <li>
                  <iframe src="http://ghbtns.com/github-btn.html?user=example42&amp;repo=puppet-architectures&amp;type=watch&amp;count=true&size=small" title="Puppet Architectures" frameborder="0" scrolling="0" lenght="150" height="25"></iframe>
                </li>

                <li>
                  <iframe src="http://ghbtns.com/github-btn.html?user=example42&amp;repo=puppet-playground&amp;type=watch&amp;count=true&size=small" title="Puppet Playground" frameborder="0" scrolling="0" lenght="150" height="25"></iframe>
                </li>

                <li>
                  <iframe src="http://ghbtns.com/github-btn.html?user=example42&amp;repo=puppi&amp;type=watch&amp;count=true&size=small" title="Puppi" frameborder="0" scrolling="0" lenght="150" height="25"></iframe>
                </li>

              </ul>
