       <ul>
        <li>
          <iframe src="http://ghbtns.com/github-btn.html?user=example42&amp;repo=puppet-modules&amp;type=watch&amp;count=true&size=large" title="Star on GitHub" frameborder="0" scrolling="0" lenght="150"></iframe>
        </li>
        <li>
          <iframe src="http://ghbtns.com/github-btn.html?user=example42&amp;repo=puppet-modules&amp;type=fork&amp;count=true&size=large" title="Fork on GitHub" frameborder="0" scrolling="0" lenght="150"></iframe>
        </li>
        <li>
           <iframe src="http://ghbtns.com/github-btn.html?user=example42&type=follow&count=true&size=large"
  allowtransparency="true" frameborder="0" scrolling="0" lenght="190"></iframe>         
        </li>
      </ul>