      <!--nav-->
      
      <nav class="navbar navbar-default navbar-custom" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/index.html"><img src="/img/logo42.png" height="60"></a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a class="nav-link" href="/blog/">Blog</a></li>
              <li><a class="nav-link" href="/group/">Forum</a></li>
              <li><a class="nav-link" href="/contact/">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
