      <!--nav-->
      
      <nav class="navbar navbar-default navbar-custom" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/index.html"><img src="/img/logo42.png" height="60"></a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a class="nav-link" href="/blog/">Blog</a></li>
              <li><a class="nav-link" href="/group/">Forum</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Docs<b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu">
                  <li class="dropdown-header">Tutorials</li>
                  <li><a href="/tutorials/PuppetTutorial/">Puppet Tutorial</a></li>
                  <li><a href="/tutorials/HowToUseExample42NextGenModules/">How to use NextGen modules</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Documentation</li>
                  <li><a href="https://github.com/example42/Example42-documentation">Official Docs</a></li>
                  <li><a href="https://groups.google.com/forum/#!topic/example42-puppet-modules/nIhbBf94Wjw">Group FAQ</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Presentations</li>
                  <li><a href="http://www.slideshare.net/Alvagante/presentations">Slideshare </a></li>
                  <li><a href="/tutorials/PuppetModulesStandardsAndInteroperability/puppetmodules.html">Puppet Modules Standards and Interoperability (OLD)</a></li>
                </ul>
              </li>
              <li><a class="nav-link" href="/contact/">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
