            <div class="jumbotron" style="height: 320px; align: center">
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="item active">
                  <a href="http://www.packtpub.com/extending-puppet/book" target="_blank"><img src="img/slider1.jpg"></a>
                  </div>
                  <div class="item">
                  <a href="/contact/"><img src="img/slider2.jpg"></a>
                  </div>
                  <div class="item">
                  <a href="https://github.com/example42" target="_blank"><img src="img/slider3.jpg"></a>
                  </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>
            </div>

