            <div class="jumbotron">
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="item"><img src="img/slider1.jpg">
        <h2>Example42 Puppet Modules</h2>
        <p class="download-link"><a class="btn btn-primary" href="https://forge.puppetlabs.com/example42">Download from the Forge</a></p>
        <p class="download-link"><a class="btn btn-primary" href="https://github.com/example42">Download from GitHub</a></p>
                  </div>
                  <div class="item"><img src="img/slider2.jpg">
        <h2>Puppet Services</h2>
        <p class="download-link">Training on the Job</p>
        <p class="download-link">Puppet migrations</p>
        <p class="download-link">Infrastructures design</p>
        <p class="download-link">Modules development</p>
        <p class="download-link"><a class="btn btn-primary" href="/contact/">Contact us</a></p>	                  
                  </div>
                  <div class="item"><img src="img/slider3.jpg">
        <h2>The book: Extending Puppet</h2>
        <p class="download-link">Training on the Job</p>
        <p class="download-link">Puppet migrations</p>
        <p class="download-link">Infrastructures design</p>
        <p class="download-link">Modules development</p>
        <p class="download-link"><a class="btn btn-primary" href="/contact/">Contact us</a></p>	                  
                  </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>

