                <!-- Begin MailChimp Signup Form -->
                <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
                <div id="mc_embed_signup">
                <h4 style="margin-bottom: 15px;">Newsletter</h4>
                <form action="http://example42.us6.list-manage.com/subscribe/post?u=17ca4725b2de64ee6f30c4e1d&amp;id=c638b498a6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <input style="margin-bottom: 10px;" type="text" value="" name="FNAME" class="form-control" id="mce-FNAME" placeholder="name">
                <input style="margin-bottom: 10px;" type="text" value="" name="LNAME" class="form-control" id="mce-LNAME" placeholder="surname">
                <input style="margin-bottom: 10px;" type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" required>
                <span class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></span>
                </form>
                </div>
                <!--End mc_embed_signup-->