          <div class="row" class="">
            <div class="col-md-12">
              {% include github.html %}
              <h4>Share and Enjoy</h4>
              <ul>
                <li><a href="https://groups.google.com/forum/#!forum/example42-puppet-modules" target="_blank" rel="external nofollow">Google group</a></li>
                <li><a href="https://forge.puppetlabs.com/example42">Puppet Forge</a></li>
                <li><a href="https://github.com/example42">GitHub</a><iframe src="http://ghbtns.com/github-btn.html?user=example42&type=follow&count=true&size=small"
  allowtransparency="true" frameborder="0" scrolling="0" lenght="190"></iframe></li>
              </ul>
            </div>
          </div>
