          <div class="row">
            <div class="col-md-12">
              <h4><a href="https://github.com/example42">GitHub</a></h4>
              <iframe src="http://ghbtns.com/github-btn.html?user=example42&type=follow&count=true&size=small" allowtransparency="true" frameborder="0" scrolling="0" lenght="190" height="30"></iframe>
              <a href="http://www.example42.com/ubersicht/">GitHub Ubersicht</a>
              {% include github_small.html %}
              <h4><a href="https://forge.puppetlabs.com/example42">Puppet Forge</a></h4>
              <h4><a href="https://groups.google.com/forum/#!forum/example42-puppet-modules" target="_blank" rel="external nofollow">Google Group</a></h4>
              <h4><a href="https://plus.google.com/b/109694337659871377331/+Example42/posts" target="_blank" rel="external nofollow">Google Plus Page</a></h4>
              <h4><a href="https://www.facebook.com/Example42PuppetModules" target="_blank" rel="external nofollow">Facebook Page</a></h4>
            </div>
          </div>
