      <hr class="dashed" />
      <div class="row">
        <div class="col-md-3">
          <h4>Latest Blog posts</h4>
          {% include post_summary.html %}
        </div>
        <div class="col-md-3">
          <h4>GitHub Activity</h4>
          {% include github_activity.html %}
        </div>
        <div class="col-md-3">
          <h4>Twitter Activity</h4>
          {% include twitter_activity.html %}
        </div>
        <div class="col-md-3">
          {% include newsletter.html %}
        </div>
      </div> 